<div class="modal-content">
    <div class="modal-header">
        <h3><i class="fa-solid fa-triangle-exclamation"></i> <span id="danger-modal-title">Confirmar Acción
                Peligrosa</span></h3>
        <button id="danger-modal-close" class="btn-icon"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="modal-body">
        <p id="danger-modal-desc">¿Estás seguro de que deseas realizar esta acción?</p>

        <div class="danger-modal-input-group">
            <label for="danger-modal-confirm">Escribe <span id="danger-modal-word" class="confirm-word">ELIMINAR</span>
                para confirmar:</label>
            <input type="text" id="danger-modal-confirm" autocomplete="off" placeholder="Escribe aquí..."
                class="danger-input">
        </div>
    </div>
    <div class="modal-footer">
        <button id="danger-modal-submit" class="btn-danger-solid" disabled>
            <i class="fa-solid fa-trash-can"></i> Confirmar y Borrar
        </button>
        <button id="danger-modal-cancel" class="btn-secondary">Cancelar</button>
    </div>
</div>